pymongo
gunicorn
fastapi
python-dotenv
razorpay
pydantic
boto3
Pillow
openai
ffmpeg-python
srt
cloudinary
requests
uvicorn
python-multipart
email-validator
celery
redis
pytz
yt-dlp
aiofiles
boto3
opencv-python-headless
apscheduler
httpx
googleapiclient