pymongo
gunicorn
fastapi
python-dotenv
razorpay
pydantic
boto3
Pillow
openai
srt
requests
uvicorn
python-multipart
celery
redis
pytz
aiofiles
opencv-python-headless
apscheduler
httpx
instaloader
transformers
torch
