torch==2.1.0
torchvision
numpy==1.26.4
transformers==4.44.0
diffusers[torch]==0.25.0
accelerate==0.30.0
loralib
boto3
fastapi
requests
runpod
toml==0.10.2
opencv-python==4.8.1.78
safetensors==0.4.2
pillow
tqdm
xformers
einops==0.7.0
ftfy==6.1.1
pytorch-lightning==1.9.0
bitsandbytes==0.44.0
prodigyopt==1.0
lion-pytorch==0.0.6
tensorboard
huggingface-hub==0.24.5
imagesize==1.4.1
rich==13.7.0