torch==2.1.0
torchvision                 
numpy==1.26.4               
transformers
diffusers[torch]
accelerate
loralib
boto3
fastapi
requests
runpod
toml
opencv-python
safetensors==0.4.2
pillow
tqdm
xformers